/* :root {
    --primary: #c41581;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color:rgb(146, 1, 45) ;
    cursor: beige;
    background-color: var(--primary);
}

.btn:hover{
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: whitesmoke;
    border-radius: 4px;
    border: 2px solid var(--primary);
} */




:root {
  --primary: #c41581;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}


/* The style below is the original version */
/* button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  .btn {
    padding: 20px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color:rgb(87, 87, 75) ;
    cursor: beige;
    background-color: var(--primary);
  } 
  
  .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
} 
 .content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
  */