.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background-color:black;
    cursor: pointer;
}

.dropdown-menu li:hover{
    background-color: rgb(14, 51, 51);
}

.dropdown-menu.clicked{
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: silver;
    padding: 16px;
}